<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Seller Profile
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-icon" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a class="white-icon"  href="#/user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container pull-content-down">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="row">


        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle"
               ng-src="{{ model.seller.url || 'https://app.nimia.com/static/img/default_profile.png' }}"
                     style="width: 150px;height:150px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{model.seller.firstName}} {{model.seller.lastName}} ({{model.seller.username}})</h4>
                <h4>
                    <small><i class="fa fa-map-marker"></i> {{model.seller.address}}</small>
                </h4>
                <h4>
                    <small><i class="fa fa-envelope"></i> {{model.seller.email}}</small>
                </h4>
                <h4>
                    <small><i class="fa fa-phone"></i> {{model.seller.phone}}</small>
                </h4>

                <h5>Member Since: <a href="http://gridle.in">{{model.seller.dateCreated | date: MMM/yyyy}}</a></h5>






            </div>
        </div>


    <button class="label label-info" ng-click="model.addFollower()">Follow <i class="fa fa-heart"></i></button>
    <button class="label label-info" ng-click="model.addLike()">Like <i class="fa fa-thumbs-up"></i></button>
    <button class="label label-info" uib-dropdown  ng-click="model.toggleDropdown(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle style="color: white">
        Rate <i class="fa fa-star"></i>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          None
        </li>
          <li>
          1
        </li>
          <li>
          2
        </li>
      </ul>
                    </button>
        </div>
    <hr style="margin:8px auto">

    <div class="row">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="active"><span href="#tabLent" role="tab" data-toggle="tab"><i class="fa fa-hand-o-left"></i> Other Products By Seller</span></li>
            <li><span href="#tabRvw" data-toggle="tab"><i class="fa fa-star"></i> Reviews</span></li>
            <li><span href="#tabFlw" data-toggle="tab"><i class="fa fa-heart"></i> Followers</span></li>
            <li><span href="#tabLike" data-toggle="tab"><i class="fa fa-thumbs-up"></i> Likes</span></li>
            <li><span href="#tabMsg" data-toggle="tab"><i class="fa fa-weixin"></i> Contact Seller</span></li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="tabLent">
                <div class="row">
                    <div class="panel panel-primary filterable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Products Lent By You</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="Product" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Size" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Price" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Renter" disabled></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="lent in model.lents">
                                <td><a href="#/productDetail/{lent.productId}}">{{lent.productId}}</a></td>
                                <td>{{lent.size}}</td>
                                <td>{{lent.price}}</td>
                                <td>{{lent.renter}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabRvw">
                <div class="panel-heading tabHead">
                    <h3 class="panel-title">Seller Reviews</h3>
                </div>
                <div class="wrapper row panel-table-margin">
                    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3" ng-repeat="review in model.sellerReviews">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                         <span itemscope>
                                             <h3 class="panel-title">{{review.title}}</h3>
                                         </span>
                            </div>
                            <div class="panel-body">
                                <p>{{review.description}}</p>
                                <span></span>
                                <span>{{review.by}}</span>
                                <span class ="pull-right">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <span>{{review.dateCreated}}</span>
                                        </span>

                            </div>
                            <div class="panel-footer clearfix">
                                        <span class="pull-right">
                                            <span class="reviewRating">
                                                <meta content="1"><span itemprop="ratingValue">{{review.rating}}</span>
                                                <span itemprop="bestRating">stars</span>
                                            </span>
                                                  <span ng-repeat="_ in ((_ = []) && (_.length=review.rating) && _) track by $index"
                                                        class="glyphicon glyphicon-star"
                                                        aria-hidden="true"></span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tabFlw">
                <div class="panel-body">
                    <ul class="list-group list-group-dividered list-group-full">
                        <li ng-repeat="fol in model.seller.followers" class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <span class="avatar">
                                        <img src="{{fol.url || 'https://app.nimia.com/static/img/default_profile.png'}}"
                                             alt="">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <div><span class="name">{{fol.firstName}} {{fol.lastName}}</span></div>
                                    <small>{{fol.username}}</small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <span class="avatar">
                                        <img src="https://app.nimia.com/static/img/default_profile.png" alt="">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <div><span class="name">Ronnie Ellis</span></div>
                                    <small>@kingronnie24</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="tabLike">
                <div class="panel-body">
                    <ul class="list-group list-group-dividered list-group-full">
                        <li ng-repeat="like in model.seller.likes" class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <span class="avatar">
                                        <img src="{{like.url || 'https://app.nimia.com/static/img/default_profile.png'}}"
                                             alt="">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <div><span class="name">{{like.firstName}} {{like.lastName}}</span></div>
                                    <small>{{like.username}}</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-pane" id="tabMsg">
                    <div class="col-sm-6 col-centered">
                        <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope blue"></i></span>
                                            <input type="email" name="email" ng-model="model.message.byEmail" placeholder="Email" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone blue"></i></span>
                                            <input type="text" name="subject" ng-model="model.message.subject" placeholder="Subject" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment blue"></i></span>
                                            <textarea name="msg" ng-model="model.message.description" rows="6" class="form-control" type="text" required></textarea>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button ng-click="model.sendMessage(message)" class="btn btn-info pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">

        </div>
    </div>
</nav>