input.form-control {
    margin-bottom: 5px;
}

a:hover{
    text-decoration: none;
}

body {
   /* padding-top: 70px;
    padding-bottom: 70px;*/
    /*background: url('https://mybfswardrobe.files.wordpress.com/2013/11/cropped-cropped-blog-background.jpg') no-repeat center center fixed;*/
}

.white-icon {
    color: white;
}

.navbar-header {
    float: left;
}

.left-space {
    padding-left: 10px;
}

.navbar {
    background-color: #337ab7;
}

.navbar-default .navbar-text {
    color: #fff;
    margin-left: 0px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-link {
    color: #fff;
}

.list-group-item {
    border: 0px;
    color: #337ab7;
    padding-left: 0px;
}

a.list-group-item {
    color: #337ab7;
}

.list-text {
    display: inline;
    color: black;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}

.zero-right-padding {
    padding-right: 0px;
}

.verticalSep {
    width:1px;
    background-color: #337ab7;
    left: 33%;
    position: absolute;
    z-index: 10;
    top:0;
    bottom: 0;
}

.nav-margins{
    margin-left: 15px;
    margin-right: 15px;
}

.container-fluid{
    margin-left: 15px;
    margin-right: 15px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loginregistersearch{
    width:100%;
    height:100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.8;
}

.fill{
    background: white;
    padding:10px;

}

.login{
    padding-bottom: 5%;
    opacity: 1;
    background-color: black;
    width: 40%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    opacity: 0.8;
}


.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom
}

.avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px
}

.avatar-online i {
    background-color: #4caf50
}

.avatar-off i {
    background-color: #616161
}

.avatar-busy i {
    background-color: #ff9800
}

.avatar-away i {
    background-color: #f44336
}

.avatar-100 {
    width: 100px
}

.avatar-100 i {
    height: 20px;
    width: 20px
}

.avatar-lg {
    width: 50px
}

.avatar-lg i {
    height: 12px;
    width: 12px
}

.avatar-sm {
    width: 30px
}

.avatar-sm i {
    height: 8px;
    width: 8px
}

.avatar-xs {
    width: 20px
}

.avatar-xs i {
    height: 7px;
    width: 7px
}

.nav-pills li{
    text-align: center;
    color: #337ab7;
    border-radius: 5px;
    height: 30px;
    padding-top: 5px;
}
.nav-pills li.active {
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
}

.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.tabHead{
    margin-top: 15px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.col-centered{
    float: none;
    margin-left: 20%;
    padding-top:5px;
    width:60%;
}

.label1-info {
    background-color: #337ab7;
}
.label1 {
    display: inline;
    font-size: 100%;
    line-height: 2;
    width: 30%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.reviewPanel{
    margin-top: 15px;
    border-radius: 10px;
    border-color: #337ab7   ;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}